body{
  background-color:lightgray;
}

.container{
  display: flex;
  justify-content: space-around;
}
.cell{
  background-color:whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 2px;
}
.leftArrow{
  margin-left: 7px;
  
}
.rightArrow{
  margin-right: 7px;
}
.content{
  margin: 14px 12px 14px 12px;
}

/* .column , .cell{
  border: solid black 1px;
  
} */

.column , .add_row {
  width: 25%;
  margin: 10px 25px 0px 25px;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-bottom: 2px;
  color: white;
}

.add_row{
  display: flex;
}
.addRow{
    margin-left: 12px;
}
.Winnie{
  background-color: #8E6E95;
}
.Bob{
  background-color: #39A59C;
}
.Thomas{
  background-color: #344759;
}
.George{
  background-color: #E8741E;
}

.hide{
  visibility: hidden;
}